# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/  # This line ensures /env is ignored
.env  # This line ensures .env files are ignored

# Logs
*.log

# Test and coverage artifacts
.coverage
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/