# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/
.env

# Logs
*.log

# Test and coverage artifacts
.coverage
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/